.login-page {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .background-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  input[type='email'],
  input[type='password'] {
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(190, 187, 187);
    color: #000000;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  button:hover {
    background-color: #817d7d;
  }