.navbar {
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .navbar-title {
    font-family: var(--ff-normal);
    font-size: var(--fs-heading);
    color: var(--clr-light);
    font-weight: bold;
    margin-right: 200px;
  }
  
  .navbar-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 20px;
  }
  
  .navbar-item {
    margin-right: 50px;
  }
  
  .navbar-link {
    font-family: var(--ff-normal);
    color: var(--clr-light);
    text-decoration: none;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .signout-button {
    font-family: var(--ff-normal);
    background-color: transparent;
    border: none;
    color: var(--clr-light);
    cursor: pointer;
    font-size: 20px;
    margin-left: auto; /* Add this line to push the button to the right */
  }